
@import url('https://fonts.googleapis.com/css2?family=Zeyada&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Zeyada&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&family=Zeyada&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@keyframes colores{
    from{border-color: #E7DBCE}
    to{border-color:#50199d}
}
@keyframes coloresresponsive{
    from{border-bottom-color: #E7DBCE}
    to{border-bottom-color:#50199d}
}


.main{
    background-color: #e9e7e0;
}

header h1{
    font-family: 'Zeyada', cursive;
    font-size: 56px;
    padding: 15px;
    display: flex;  
} 
header a{
    text-decoration: none;
    color: #10091e !important
}
header ul li a img{
    width: 28px;
    padding: 0;
}

header ul{
    display:inline-block;
    padding: 20px;
    color: #10091e !important;
    
    
}

header ul li{
    display: flex;
    justify-content: center;
}

li:hover{
    border: solid rgba(88,35,181, .9); 
    border-width: 1.32px;
    transition: ease-out;
    animation-name: colores;  
    animation-duration: 2s;
    
    

}

header img{
    display: flex;
    align-items: center;
    align-content: center;
    justify-content:center;

    width: 200px;
    padding-top: 21px;
    padding-left: 7px;


}
.img-carousel{
    object-fit: cover;
    
    

}

.carousel-inner img {
    width: 100%;
    max-height: 500px;
    padding-bottom: 30px;
}

p{
    color: #10091e;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500 !important;
    font-size: 16px !important;
    padding-left: 20px;
}
h3{
    color: #10091e;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    padding-left: 20px;
}

.contacto{
    display: flex;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
    padding-top: 20px;
    
}
.contacto img{
    width: 80%;
    display: flex;
    justify-items: center;
    align-items: center;
    align-content: center;
}

.qr{
    display: flex;
    justify-content: center;
    padding-bottom: 40px;
}

.qr img{
    width: 40%;

}
.sobremi img{
    width: 67%;
    border-radius: 10%;
    padding-top: 20px;
}

.sobremi{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom:40px ;
}

.galeria1 img{
    width: 95%;
    padding: 12px 0 12px 20px;
}
.galeria2 img{
    width: 95%;
    padding: 12px 20px 12px 0;
}

.visit{
    font-family: 'Quicksand', sans-serif;
    background-color:#e9e7e0;
    font-size: 45px;
    padding: 20px 0 0 0;
    display: flex;
    justify-content: center;
    
}
.video{
    display: flex;
    justify-content:center ; 
    padding-top: 25px; 
    padding-bottom: 35px;
}

.fondo{
    background-image: linear-gradient(to right bottom, #baa1d5, #d9a8c8, #e7b4be, #eac4bd, #e8d4c7, #e7dbce, #e7e1d7, #e9e7e0, #e9e7e0, #e9e7e0, #e9e7e0, #e9e7e0);
}

.ja{
    text-decoration: none;
    color: white;
    bottom: 15px;
}

h3{
    border-bottom: solid rgba(88,35,181, 1);
    border-width: 1px;
    padding-bottom: 10px;
    display: flex;
    justify-content: center;

}
.instagram{
    border-style: hidden !important;
    display: flex !important;
    justify-items: center !important;
    padding: 0 25px !important;
    
}

.card{
    width: 80% !important;
    padding: 10px !important;
    margin: 20px !important;
    display: flex !important;

    
    
    
}

.card-title{
    display: flex;
    justify-content: center;
}

.card-text{
    color: #10091e;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px !important;
    height: 100%;
    
}

.card-body{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.cartas{
    display: flex;
    justify-content: center;
    

}

.btn{
    display: flex !important;
    justify-content: center;
    
}

.reviews{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px 0 20px 0;

}

article{
    width: 30%;
    background-color: white;
    padding: 20px;
    margin: 10px;
    border-radius: 2%;
   
    
}

article p{
    color: #10091e;
    font-family: 'Montserrat';
    font-style: italic;
    font-size: 16px !important;
}

article h6{
    font-family: 'Montserrat';
    font-size: 17px !important;
    color: #10091e;
    font-weight:bold;
}

article:hover{
    border: solid rgba(88,35,181, .9); 
    border-width: 1.3px;
    transition: ease-out;
    animation-name: colores;  
    animation-duration: 2s;
}

.pack{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px 0 10px 0;
    

}

.pack img{
    width: 100%;
    border-radius: 2%;

}

.pack h6{
    font-family: "Poppins", sans-serif;
    font-weight: 600 !important;
    font-style: normal;
    font-size:x-large !important;
    color:#10091ec5;
    display: flex;
    justify-content: center;
}

.pack p{
    font-family: "Poppins", sans-serif;
    font-weight: 300 !important;
    font-style: normal;
}
.pack article{
    margin: 30px;
}


.sobremi b{
    font-size: 18px;
}

.gtranslate_wrapper{
    border-style: hidden !important;
    padding: 8px 0;
}


.headerresponsive{
    display: none !important;
}

@media screen and (max-width:1200px) {
    nav{
        display: none;
    }
    .nav-responsive{
        display:inline-flex!important;
        width: 15% !important;
        justify-content: end;
        align-items: center;       
    }
    header .col-md-3, .col-md-1{
        display: none;
    }
    .logoresponsive{
        display: flex;
        width: 80% !important;
        
    }
    .logoresponsive img{
        padding-bottom: 10px;
        flex-shrink:0;
        width:280px;
    }

    header .col-md-3{
        justify-items: right;
    }
    header h1{
        width: 100%;
    }
    .headerresponsive{
        display: flex !important;
        flex-direction: row;
        
    }


    nav ul{
        z-index: 2;
        display: block !important;
        position: absolute;
        right: 0;
        top: 75px;
        background-color:#e9e7e0;
        width: 180px;
    }
   
    nav li:hover{
        border-style: none;
    }
    .instagram{
        display: flex;
        justify-content:center;
    }
}